<%- include header.ejs %>
	<body>
		<h2>Update <%= movie.title %></h2>
		<img src='<%= movie.poster %>' height="200" width ="150"></img>
		<form action="/movies/<%= movie.id %>?_method=PUT" method="POST">
		<ol>
		<% Object.keys(movie).forEach(function(key){ %>
			<li><%=key%>: <input type="text" name="<%=key%>" value="<%= movie[key] %>">
			</li>
		<% }); %>
		</ol>
			<button>Update Movie</button>
		</form>
	</body>
<% include footer.ejs %>