<%- include header.ejs %>
	<body>		
		<h2>Want to add this movie?</h2>
		<img src='<%= movie.Poster %>' height="100" width ="75">
		<h3>Name: <%= movie.Title %></h3>
		<h3>Year: <%= movie.Year %></h4>
		<form action="/movies/<%= movie.imdbID %>"method="POST">
		<button>Add Movie</button>
		</form>	
		<form action="/movies" method="GET">
		<button>Cancel</button>
		</form>
	</body>
<%- include footer.ejs %>