<%- include header.ejs %>
	<TITLE><%= movie.title %></TITLE>
	<body>	
		<h2><%= movie.title %></h2>
		<img src='<%= movie.poster %>' height="200" width ="150"></img>
		<% Object.keys(movie).forEach(function(key){ %>
			<% if(key!='id' && key!='poster'){ %>
				<h3><%= key %>: <%= movie[key] %></h3>
			<% } %>
		<% }); %>
		<a href="/movies">Return to List</a>
		
	</body>
<%- include footer.ejs %>